:root {
  --white: #fff;
  --primary-color: #645cff;
  --mainBorder: 1px solid red;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f4fb;
}

/* @media screen and (min-width:760px){

} */
