body {
  background-color: black;
  color: white;
}

main {
  margin-top: 2rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}
.form-container {
  margin: auto;
  border-color: yellow;
  border-style: solid;
  border-width: 1px;
}

.item {
  font-size: 2rem;
}
.strike {
  text-decoration: line-through;
}
